@model Tuple<List<InstructorsDto>, List<CoursesCategoriesDto>>
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Course</a></li>
                        <li class="breadcrumb-item active">Course Ekle</li>
                    </ol>
                </div>
                <h4 class="page-title">Course Ekle</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Course</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="/Course/AddCoursePost" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Kurs Adı</label>
                                    <input type="text" id="simpleinput" name="CourseName" class="form-control">
                                </div>
                                <div>
                                    <label for="example-select" class="form-label">Eğitmen Adı</label>
                                    <select class="form-select" id="example-select" name="InstructorId">
                                        @foreach (var item in Model.Item1)
                                        {
                                            <option value="@item.InstructorId">@item.InstructorName</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Kurs Süresi</label>
                                    <input type="text" id="simpleinput" name="CoursesDuration" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="simpleinput" class="form-label">Kurs Kontenjanı</label>
                                    <input type="text" id="simpleinput" name="CoursesQuota" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="example-fileinput" class="form-label">Kurs Fotoğrafı</label>
                                    <input type="file" id="example-fileinput" name="Image" class="form-control">
                                </div>
                                <div>
                                    <label for="example-select" class="form-label">Kategori Adı</label>
                                    <select class="form-select" id="example-select" name="CategoryId">
                                        @foreach (var item in Model.Item2)
                                        {
                                            <option value="@item.CategoryId">@item.CategoryName</option>
                                        }
                                    </select>
                                </div>
                                <div style="text-align: right;">
                                    <button type="submit" class="btn btn-primary">Ekle</button>
                                </div>
                            </form>
                        </div> <input value="@ViewBag.Message" id="bag" style="display:none;" /><!-- end col -->
                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
</div> <!-- container -->

<script>
    var data = document.getElementById("bag").value;
    console.log("DATA " + data);
    if (data == "Başarılı") {
        swal("Course Başarıyla Eklendi", {
            icon: "success",
            button: "Tamam!",
        });
    } else if (data == "Başarısız") {
        swal("Hata oluştu daha sonra tekrar deneyin!", {
            icon: "error",
            button: "Tamam!",
        });
    }
</script>