@model ContactDto
<!-- Begin page -->
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contact</a></li>
                        <li class="breadcrumb-item active">Contact Göster</li>
                    </ol>
                </div>
                <h4 class="page-title">Contact Göster</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Markalar</h4>
                    <!--
                    <p class="text-muted mb-0">
                        Use <code>.table-striped</code> to add zebra-striping to any table row
                        within the <code>&lt;tbody&gt;</code>.
                    </p>
                    -->
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Özellik</th>
                                    <th>Değer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form method="post" action="/Contact/UpdateContactPost" enctype="multipart/form-data">
                                <tr>
                                    <td>Adres</td>
                                    <td><input type="text" asp-for="Adress" value="@Model.Adress"></td>
                                </tr>
                                <tr>
                                    <td>Telefon</td>
                                    <td><input type="text" asp-for="PhoneNumber" value="@Model.PhoneNumber"></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input type="text" asp-for="Email" value="@Model.Email"></td>
                                </tr>
                                <tr>
                                    <td>Twitter</td>
                                    <td><input type="text" asp-for="TwitterAccount" value="@Model.TwitterAccount"></td>
                                </tr>
                                <tr>
                                    <td>Facebook</td>
                                    <td><input type="text" asp-for="FacebookAccount" value="@Model.FacebookAccount"></td>
                                </tr>
                                <tr>
                                    <td>YouTube</td>
                                    <td><input type="text" asp-for="YoutubeAccount" value="@Model.YoutubeAccount"></td>
                                </tr>
                                <tr>
                                    <td>LinkedIn</td>
                                    <td><input type="text" asp-for="LinkedInAccount" value="@Model.LinkedInAccount"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: right;">
                                        <input type="hidden" asp-for="ContactId" value="@Model.ContactId" />
                                        <button type="submit" class="btn btn-link text-reset fs-16 px-1">Onayla</button>
                                    </td>
                                </tr>
                                </form>
                            </tbody>
                            <input value="@ViewBag.Message" id="bag" style="display:none;" />
                        </table>
                    </div> <!-- end table-responsive-->
                </div>
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->
</div> <!-- container -->
<!-- end Footer -->


<script>
    var data = document.getElementById("bag").value;
    console.log("DATA " + data);
    if (data == "Başarılı") {
        swal("Contact Başarıyla Güncellendi", {
            icon: "success",
            button: "Tamam!",
        });
    } else if (data == "Başarısız") {
        swal("Hata oluştu daha sonra tekrar deneyin!", {
            icon: "error",
            button: "Tamam!",
        });
    }
</script>
