@model List<HeaderDto>
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Header</a></li>
                        <li class="breadcrumb-item active">Header Göster</li>
                    </ol>
                </div>
                <h4 class="page-title">Header Göster</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">Header Göster</h4>
                    <!--
                    <p class="text-muted mb-0">
                        Use <code>.table-striped</code> to add zebra-striping to any table row
                        within the <code>&lt;tbody&gt;</code>.
                    </p>
                    -->
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Header Başlığı</th>
                                    <th>Header Açıklaması</th>
                                    <th>Header Fotoğrafı</th>
                                    <th style="text-align: right;">Güncelle / Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var header in Model)
                                {
                                    <tr>
                                        <td>@header.HeaderTitle</td>
                                        <td>@header.HeaderDescription</td>
                                        <td><img src="~/Images/HeaderImages/@header.HeaderImage" alt="Header Image" style="max-width: 200px; max-height: 200px;"></td>
                                        <td style="text-align: right;">
                                            <div style="display: inline-block;">
                                                <form method="get" action="/Header/UpdateHeader">
                                                    <input type="hidden" name="HeaderId" value="@header.HeaderId" />
                                                    <button type="submit" class="btn btn-link text-reset fs-16 px-1">
                                                        <i class="ri-settings-3-line"></i>
                                                    </button>
                                                </form>
                                            </div>
                                            <div style="display: inline-block;">
                                                <form method="post" action="/Header/DeleteHeader">
                                                    <input type="hidden" name="HeaderId" value="@header.HeaderId" />
                                                    <button type="submit" class="btn btn-link text-reset fs-16 px-1">
                                                        <i class="ri-delete-bin-2-line"></i>
                                                    </button>
                                                </form>
                                            </div> <input value="@ViewBag.Message" id="bag" style="display:none;" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->


    </div>
    <!-- end row-->


</div> <!-- container -->
