<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Form Elements | Velonic - Bootstrap 5 Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully responsive admin theme which can be used to build CRM, CMS,ERP etc." name="description" />
    <meta content="Techzaa" name="author" />

    <!-- Daterangepicker css -->
    <link rel="stylesheet" href="~/velonic/assets/vendor/daterangepicker/daterangepicker.css">

    <!-- Vector Map css -->
    <link rel="stylesheet" href="~/velonic/assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css">
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/velonic/assets/images/favicon.ico">

    <script src="~/velonic/assets/js/jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Theme Config Js -->
    <script src="~/velonic/assets/js/config.js"></script>

    <!-- App css -->
    <link href="~/velonic/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- Icons css -->
    <link href="~/velonic/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link href="~/velonic/assets/vendor/x-editable/bootstrap-editable.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="wrapper">
    <!--<div>-->
        <div class="navbar-custom">
            <div class="topbar container-fluid">
                <div class="d-flex align-items-center gap-1">

                    <!-- Topbar Brand Logo -->
                    <div class="logo-topbar">
                        <!-- Logo light -->
                        <a href="@Url.Action("Index", "Admin", new {})" class="logo-light">
                            <span class="logo-lg">
                                <img src="~/velonic/assets/images/logo.png" alt="logo">
                            </span>
                            <span class="logo-sm">
                                <img src="~/velonic/assets/images/logo-sm.png" alt="small logo">
                            </span>
                        </a>

                        <!-- Logo Dark -->
                        <a href="@Url.Action("Index", "Admin", new {})" class="logo-dark">
                            <span class="logo-lg">
                                <img src="~/velonic/assets/images/logo-dark.png" alt="dark logo">
                            </span>
                            <span class="logo-sm">
                                <img src="~/velonic/assets/images/logo-sm.png" alt="small logo">
                            </span>
                        </a>
                    </div>

                    <!-- Sidebar Menu Toggle Button -->
                    <button class="button-toggle-menu">
                        <i class="ri-menu-line"></i>
                    </button>

                    <!-- Horizontal Menu Toggle Button -->
                    <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>

                    <!-- Topbar Search Form -->
                    <div class="app-search d-none d-lg-block">
                        <form>
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Search...">
                                <span class="ri-search-line search-icon text-muted"></span>
                            </div>
                        </form>
                    </div>
                </div>

                <ul class="topbar-menu d-flex align-items-center gap-3">
                    <li class="dropdown d-lg-none">
                        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="ri-search-line fs-22"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                            <form class="p-3">
                                <input type="search" class="form-control" placeholder="Search ..."
                                       aria-label="Recipient's username">
                            </form>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="~/velonic/assets/images/flags/us.jpg" alt="user-image" class="me-0 me-sm-1" height="12">
                            <span class="align-middle d-none d-lg-inline-block">English</span> <i class="ri-arrow-down-s-line d-none d-sm-inline-block align-middle"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">
                                <img src="~/velonic/assets/images/flags/germany.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">German</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">
                                <img src="~/velonic/assets/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Italian</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">
                                <img src="~/velonic/assets/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Spanish</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">
                                <img src="~/velonic/assets/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Russian</span>
                            </a>

                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="ri-mail-line fs-22"></i>
                            <span class="noti-icon-badge badge text-bg-purple">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg py-0">
                            <div class="p-2 border-top-0 border-start-0 border-end-0 border-dashed border">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0 fs-16 fw-semibold"> Messages</h6>
                                    </div>
                                    <div class="col-auto">
                                        <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                                            <small>Clear All</small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="max-height: 300px;" data-simplebar>

                                <!-- item-->
                                <a href="javascript:void(0);"
                                   class="dropdown-item p-0 notify-item read-noti card m-0 shadow-none">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <div class="notify-icon">
                                                    <img src="~/velonic/assets/images/users/avatar-1.jpg" class="img-fluid rounded-circle"
                                                         alt="" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 text-truncate ms-2">
                                                <h5 class="noti-item-title fw-semibold fs-14">
                                                    Cristina Pride <small class="fw-normal text-muted float-end ms-1">1 day ago</small>
                                                </h5>
                                                <small class="noti-item-subtitle text-muted">
                                                    Hi, How are you? What about our
                                                    next meeting
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);"
                                   class="dropdown-item p-0 notify-item read-noti card m-0 shadow-none">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <div class="notify-icon">
                                                    <img src="~/velonic/assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle"
                                                         alt="" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 text-truncate ms-2">
                                                <h5 class="noti-item-title fw-semibold fs-14">
                                                    Sam Garret <small class="fw-normal text-muted float-end ms-1">2 day ago</small>
                                                </h5>
                                                <small class="noti-item-subtitle text-muted">Yeah everything is fine</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);"
                                   class="dropdown-item p-0 notify-item read-noti card m-0 shadow-none">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <div class="notify-icon">
                                                    <img src="~/velonic/assets/images/users/avatar-3.jpg" class="img-fluid rounded-circle"
                                                         alt="" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 text-truncate ms-2">
                                                <h5 class="noti-item-title fw-semibold fs-14">
                                                    Karen Robinson <small class="fw-normal text-muted float-end ms-1">2 day ago</small>
                                                </h5>
                                                <small class="noti-item-subtitle text-muted">Wow that's great</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);"
                                   class="dropdown-item p-0 notify-item read-noti card m-0 shadow-none">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <div class="notify-icon">
                                                    <img src="~/velonic/assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle"
                                                         alt="" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 text-truncate ms-2">
                                                <h5 class="noti-item-title fw-semibold fs-14">
                                                    Sherry Marshall <small class="fw-normal text-muted float-end ms-1">3 day ago</small>
                                                </h5>
                                                <small class="noti-item-subtitle text-muted">
                                                    Hi, How are you? What about our
                                                    next meeting
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);"
                                   class="dropdown-item p-0 notify-item read-noti card m-0 shadow-none">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <div class="notify-icon">
                                                    <img src="~/velonic/assets/images/users/avatar-5.jpg" class="img-fluid rounded-circle"
                                                         alt="" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 text-truncate ms-2">
                                                <h5 class="noti-item-title fw-semibold fs-14">
                                                    Shawn Millard <small class="fw-normal text-muted float-end ms-1">4 day ago</small>
                                                </h5>
                                                <small class="noti-item-subtitle text-muted">Yeah everything is fine</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- All-->
                            <a href="javascript:void(0);"
                               class="dropdown-item text-center text-primary text-decoration-underline fw-bold notify-item border-top border-light py-2">
                                View All
                            </a>

                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="ri-notification-3-line fs-22"></i>
                            <span class="noti-icon-badge badge text-bg-pink">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg py-0">
                            <div class="p-2 border-top-0 border-start-0 border-end-0 border-dashed border">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0 fs-16 fw-semibold"> Notification</h6>
                                    </div>
                                    <div class="col-auto">
                                        <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                                            <small>Clear All</small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="max-height: 300px;" data-simplebar>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-primary-subtle">
                                        <i class="mdi mdi-comment-account-outline text-primary"></i>
                                    </div>
                                    <p class="notify-details">
                                        Caleb Flakelar commented on Admin
                                        <small class="noti-time">1 min ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning-subtle">
                                        <i class="mdi mdi-account-plus text-warning"></i>
                                    </div>
                                    <p class="notify-details">
                                        New user registered.
                                        <small class="noti-time">5 hours ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger-subtle">
                                        <i class="mdi mdi-heart text-danger"></i>
                                    </div>
                                    <p class="notify-details">
                                        Carlos Crouch liked
                                        <small class="noti-time">3 days ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-pink-subtle">
                                        <i class="mdi mdi-comment-account-outline text-pink"></i>
                                    </div>
                                    <p class="notify-details">
                                        Caleb Flakelar commented on Admi
                                        <small class="noti-time">4 days ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-purple-subtle">
                                        <i class="mdi mdi-account-plus text-purple"></i>
                                    </div>
                                    <p class="notify-details">
                                        New user registered.
                                        <small class="noti-time">7 days ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-success-subtle">
                                        <i class="mdi mdi-heart text-success"></i>
                                    </div>
                                    <p class="notify-details">
                                        Carlos Crouch liked <b>Admin</b>.
                                        <small class="noti-time">Carlos Crouch liked</small>
                                    </p>
                                </a>
                            </div>

                            <!-- All-->
                            <a href="javascript:void(0);"
                               class="dropdown-item text-center text-primary text-decoration-underline fw-bold notify-item border-top border-light py-2">
                                View All
                            </a>

                        </div>
                    </li>

                    <li class="d-none d-sm-inline-block">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#theme-settings-offcanvas">
                            <i class="ri-settings-3-line fs-22"></i>
                        </a>
                    </li>

                    <li class="d-none d-sm-inline-block">
                        <div class="nav-link" id="light-dark-mode">
                            <i class="ri-moon-line fs-22"></i>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle arrow-none nav-user" data-bs-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <span class="account-user-avatar">
                                <img src="~/velonic/assets/images/users/avatar-1.jpg" alt="user-image" width="32" class="rounded-circle">
                            </span>
                            <span class="d-lg-block d-none">
                                <h5 class="my-0 fw-normal">
                                    Thomson <i class="ri-arrow-down-s-line d-none d-sm-inline-block align-middle"></i>
                                </h5>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                            <!-- item-->
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome !</h6>
                            </div>

                            <!-- item-->
                            <a href="pages-profile.html" class="dropdown-item">
                                <i class="ri-account-circle-line fs-18 align-middle me-1"></i>
                                <span>My Account</span>
                            </a>

                            <!-- item-->
                            <a href="pages-profile.html" class="dropdown-item">
                                <i class="ri-settings-4-line fs-18 align-middle me-1"></i>
                                <span>Settings</span>
                            </a>

                            <!-- item-->
                            <a href="pages-faq.html" class="dropdown-item">
                                <i class="ri-customer-service-2-line fs-18 align-middle me-1"></i>
                                <span>Support</span>
                            </a>

                            <!-- item-->
                            <a href="auth-lock-screen.html" class="dropdown-item">
                                <i class="ri-lock-password-line fs-18 align-middle me-1"></i>
                                <span>Lock Screen</span>
                            </a>

                            <!-- item-->
                            <a href="auth-logout-2.html" class="dropdown-item">
                                <i class="ri-logout-box-line fs-18 align-middle me-1"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="leftside-menu">

            <!-- Brand Logo Light -->
            <a href="@Url.Action("Index", "Admin", new {})" class="logo logo-light">
                <span class="logo-lg">
                    <img src="~/velonic/assets/images/logo.png" alt="logo">
                </span>
                <span class="logo-sm">
                    <img src="~/velonic/assets/images/logo-sm.png" alt="small logo">
                </span>
            </a>

            <!-- Brand Logo Dark -->
            <a href="@Url.Action("Index", "Admin", new {})" class="logo logo-dark">
                <span class="logo-lg">
                    <img src="~/velonic/assets/images/logo-dark.png" alt="dark logo">
                </span>
                <span class="logo-sm">
                    <img src="~/velonic/assets/images/logo-sm.png" alt="small logo">
                </span>
            </a>

            <!-- Sidebar -left -->
            <div class="h-100" id="leftside-menu-container" data-simplebar>
                <!--- Sidemenu -->
                <ul class="side-nav">

                    <li class="side-nav-title">Main</li>

                    <li class="side-nav-item">
                        <a href="@Url.Action("Index", "Admin", new {})" class="side-nav-link">
                            <i class="ri-dashboard-3-line"></i>
                            <span class="badge bg-success float-end">9+</span>
                            <span> Dashboard </span>
                        </a>
                    </li>

                    <!--AboutUs-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages" class="side-nav-link">
                            <i class="ri-pages-line"></i>
                            <span> AboutUs </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPages">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddAboutUs", "AboutUs", new {})">AboutUs Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowAboutUs", "AboutUs", new {})">AboutUs Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--BestCourses-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesAuth" aria-expanded="false" aria-controls="sidebarPagesAuth" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> BestCourses </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesAuth">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddBestCourses", "BestCourses", new {})">BestCourses Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowBestCourses", "BestCourses", new {})">BestCourses Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--Contact-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesContact" aria-expanded="false" aria-controls="sidebarPagesContact" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> Contact </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesContact">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("ShowContact", "Contact", new {})">Contact Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--CourseDetails-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesCourseDetails" aria-expanded="false" aria-controls="sidebarPagesCourseDetails" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> CourseDetails </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesCourseDetails">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddCourseDetails", "CourseDetails", new {})">CourseDetails Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowCourseDetails", "CourseDetails", new {})">CourseDetails Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--Course-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesCourse" aria-expanded="false" aria-controls="sidebarPagesCourse" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> Course </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesCourse">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddCourse", "Course", new {})">Course Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowCourse", "Course", new {})">Course Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--CoursesCategories-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesCoursesCategories" aria-expanded="false" aria-controls="sidebarPagesCoursesCategories" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> CoursesCategories </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesCoursesCategories">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddCoursesCategories", "CoursesCategories", new {})">CoursesCategories Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowCoursesCategories", "CoursesCategories", new {})">CoursesCategories Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--FAQ-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesFAQ" aria-expanded="false" aria-controls="sidebarPagesFAQ" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> FAQ </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesFAQ">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddFAQ", "FAQ", new {})">FAQ Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowFAQ", "FAQ", new {})">FAQ Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--Gallery-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesGallery" aria-expanded="false" aria-controls="sidebarPagesGallery" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> Gallery </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesGallery">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddGallery", "Gallery", new {})">Gallery Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowGallery", "Gallery", new {})">Gallery Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--GetInTouch-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesGetInTouch" aria-expanded="false" aria-controls="sidebarPagesGetInTouch" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> GetInTouch </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesGetInTouch">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddGetInTouch", "GetInTouch", new {})">GetInTouch Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowGetInTouch", "GetInTouch", new {})">GetInTouch Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--Header-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesHeader" aria-expanded="false" aria-controls="sidebarPagesHeader" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> Header </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesHeader">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddHeader", "Header", new {})">Header Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowHeader", "Header", new {})">Header Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--Instructor-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesInstructor" aria-expanded="false" aria-controls="sidebarPagesInstructor" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> Instructor </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesInstructor">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddInstructor", "Instructor", new {})">Instructor Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowInstructor", "Instructor", new {})">Instructor Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--Skill-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesSkill" aria-expanded="false" aria-controls="sidebarPagesSkill" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> Skill </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesSkill">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddSkill", "Skill", new {})">Skill Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowSkill", "Skill", new {})">Skill Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--StudentsSay-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesStudentsSay" aria-expanded="false" aria-controls="sidebarPagesStudentsSay" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> StudentsSay </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesStudentsSay">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddStudentsSay", "StudentsSay", new {})">StudentsSay Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowStudentsSay", "StudentsSay", new {})">StudentsSay Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--WelcomeInformation-->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarPagesWelcomeInformation" aria-expanded="false" aria-controls="sidebarPagesWelcomeInformation" class="side-nav-link">
                            <i class="ri-group-2-line"></i>
                            <span> WelcomeInformation </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarPagesWelcomeInformation">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("AddWelcomeInformation", "WelcomeInformation", new {})">WelcomeInformation Ekle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowWelcomeInformation", "WelcomeInformation", new {})">WelcomeInformation Göster</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>


                <!--- End Sidemenu -->

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="content-page">
            <div class="content">
        @RenderBody()
            </div> <!-- content -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            <script>document.write(new Date().getFullYear())</script> © Velonic - Theme by <b>Techzaa</b>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    <!--</div>-->
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="theme-settings-offcanvas">
        <div class="d-flex align-items-center bg-primary p-3 offcanvas-header">
            <h5 class="text-white m-0">Theme Settings</h5>
            <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100">
                <div class="p-3">
                    <h5 class="mb-3 fs-16 fw-bold">Color Scheme</h5>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-check form-switch card-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="data-bs-theme" id="layout-color-light" value="light">
                                <label class="form-check-label" for="layout-color-light">
                                    <img src="~/velonic/assets/images/layouts/light.png" alt="" class="img-fluid">
                                </label>
                            </div>
                            <h5 class="font-14 text-center text-muted mt-2">Light</h5>
                        </div>

                        <div class="col-4">
                            <div class="form-check form-switch card-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="data-bs-theme" id="layout-color-dark" value="dark">
                                <label class="form-check-label" for="layout-color-dark">
                                    <img src="~/velonic/assets/images/layouts/dark.png" alt="" class="img-fluid">
                                </label>
                            </div>
                            <h5 class="font-14 text-center text-muted mt-2">Dark</h5>
                        </div>
                    </div>

                    <div id="layout-width">
                        <h5 class="my-3 fs-16 fw-bold">Layout Mode</h5>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-switch card-switch mb-1">
                                    <input class="form-check-input" type="checkbox" name="data-layout-mode" id="layout-mode-fluid" value="fluid">
                                    <label class="form-check-label" for="layout-mode-fluid">
                                        <img src="~/velonic/assets/images/layouts/light.png" alt="" class="img-fluid">
                                    </label>
                                </div>
                                <h5 class="font-14 text-center text-muted mt-2">Fluid</h5>
                            </div>

                            <div class="col-4">
                                <div id="layout-boxed">
                                    <div class="form-check form-switch card-switch mb-1">
                                        <input class="form-check-input" type="checkbox" name="data-layout-mode" id="layout-mode-boxed" value="boxed">
                                        <label class="form-check-label" for="layout-mode-boxed">
                                            <img src="~/velonic/assets/images/layouts/boxed.png" alt="" class="img-fluid">
                                        </label>
                                    </div>
                                    <h5 class="font-14 text-center text-muted mt-2">Boxed</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="my-3 fs-16 fw-bold">Topbar Color</h5>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-check form-switch card-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="data-topbar-color" id="topbar-color-light" value="light">
                                <label class="form-check-label" for="topbar-color-light">
                                    <img src="~/velonic/assets/images/layouts/light.png" alt="" class="img-fluid">
                                </label>
                            </div>
                            <h5 class="font-14 text-center text-muted mt-2">Light</h5>
                        </div>

                        <div class="col-4">
                            <div class="form-check form-switch card-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="data-topbar-color" id="topbar-color-dark" value="dark">
                                <label class="form-check-label" for="topbar-color-dark">
                                    <img src="~/velonic/assets/images/layouts/topbar-dark.png" alt="" class="img-fluid">
                                </label>
                            </div>
                            <h5 class="font-14 text-center text-muted mt-2">Dark</h5>
                        </div>
                    </div>

                    <div>
                        <h5 class="my-3 fs-16 fw-bold">Menu Color</h5>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-switch card-switch mb-1">
                                    <input class="form-check-input" type="checkbox" name="data-menu-color" id="leftbar-color-light" value="light">
                                    <label class="form-check-label" for="leftbar-color-light">
                                        <img src="~/velonic/assets/images/layouts/sidebar-light.png" alt="" class="img-fluid">
                                    </label>
                                </div>
                                <h5 class="font-14 text-center text-muted mt-2">Light</h5>
                            </div>

                            <div class="col-4">
                                <div class="form-check form-switch card-switch mb-1">
                                    <input class="form-check-input" type="checkbox" name="data-menu-color" id="leftbar-color-dark" value="dark">
                                    <label class="form-check-label" for="leftbar-color-dark">
                                        <img src="~/velonic/assets/images/layouts/light.png" alt="" class="img-fluid">
                                    </label>
                                </div>
                                <h5 class="font-14 text-center text-muted mt-2">Dark</h5>
                            </div>
                        </div>
                    </div>

                    <div id="sidebar-size">
                        <h5 class="my-3 fs-16 fw-bold">Sidebar Size</h5>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-switch card-switch mb-1">
                                    <input class="form-check-input" type="checkbox" name="data-sidenav-size" id="leftbar-size-default" value="default">
                                    <label class="form-check-label" for="leftbar-size-default">
                                        <img src="~/velonic/assets/images/layouts/light.png" alt="" class="img-fluid">
                                    </label>
                                </div>
                                <h5 class="font-14 text-center text-muted mt-2">Default</h5>
                            </div>

                            <div class="col-4">
                                <div class="form-check form-switch card-switch mb-1">
                                    <input class="form-check-input" type="checkbox" name="data-sidenav-size" id="leftbar-size-compact" value="compact">
                                    <label class="form-check-label" for="leftbar-size-compact">
                                        <img src="~/velonic/assets/images/layouts/compact.png" alt="" class="img-fluid">
                                    </label>
                                </div>
                                <h5 class="font-14 text-center text-muted mt-2">Compact</h5>
                            </div>

                            <div class="col-4">
                                <div class="form-check form-switch card-switch mb-1">
                                    <input class="form-check-input" type="checkbox" name="data-sidenav-size" id="leftbar-size-small" value="condensed">
                                    <label class="form-check-label" for="leftbar-size-small">
                                        <img src="~/velonic/assets/images/layouts/sm.png" alt="" class="img-fluid">
                                    </label>
                                </div>
                                <h5 class="font-14 text-center text-muted mt-2">Condensed</h5>
                            </div>


                            <div class="col-4">
                                <div class="form-check form-switch card-switch mb-1">
                                    <input class="form-check-input" type="checkbox" name="data-sidenav-size" id="leftbar-size-full" value="full">
                                    <label class="form-check-label" for="leftbar-size-full">
                                        <img src="~/velonic/assets/images/layouts/full.png" alt="" class="img-fluid">
                                    </label>
                                </div>
                                <h5 class="font-14 text-center text-muted mt-2">Full Layout</h5>
                            </div>
                        </div>
                    </div>

                    <div id="layout-position">
                        <h5 class="my-3 fs-16 fw-bold">Layout Position</h5>

                        <div class="btn-group checkbox" role="group">
                            <input type="radio" class="btn-check" name="data-layout-position" id="layout-position-fixed" value="fixed">
                            <label class="btn btn-soft-primary w-sm" for="layout-position-fixed">Fixed</label>

                            <input type="radio" class="btn-check" name="data-layout-position" id="layout-position-scrollable" value="scrollable">
                            <label class="btn btn-soft-primary w-sm ms-0" for="layout-position-scrollable">Scrollable</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-footer border-top p-3 text-center">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-light w-100" id="reset-layout">Reset</button>
                </div>
                <div class="col-6">
                    <a href="https://1.envato.market/velonic" target="_blank" role="button" class="btn btn-primary w-100">Buy Now</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor js -->
    <script src="~/velonic/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/velonic/assets/js/app.min.js"></script>
    <!-- Daterangepicker js -->
    <script src="~/velonic/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/velonic/assets/vendor/daterangepicker/daterangepicker.js"></script>

    <!-- Apex Charts js -->
    <script src="~/velonic/assets/vendor/apexcharts/apexcharts.min.js"></script>

    <!-- Vector Map js -->
    <script src="~/velonic/assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/velonic/assets/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>

    <!-- Dashboard App js -->
    <script src="~/velonic/assets/js/pages/dashboard.js"></script>


    <!-- Profile Demo App js -->
    <script src="~/velonic/assets/vendor/moment/min/moment.min.js"></script>
    <script src="~/velonic/assets/vendor/x-editable/bootstrap-editable/js/bootstrap-editable.min.js"></script>

    <!-- Init js-->
    <script src="~/velonic/assets/js/pages/form-xeditable.init.js"></script>
</body>

</html>